body {
  background-image: url("https://th.bing.com/th/id/OIP.sIO2kPRMC-X5K9Y-dC79mgAAAA?r=0&rs=1&pid=ImgDetMain");
  background-size: cover; /* scales the image to cover entire area */
  background-repeat: no-repeat;
  background-position: center;
}