body {
  background-image: url("https://i.pinimg.com/originals/35/a2/31/35a23139c163b2f862c222ff478bc811.jpg");
  background-size: cover; /* scales the image to cover entire area */
  background-repeat: no-repeat;
  background-position: center;
}

{
text-shadow:;
animation: glitch-skew 1s infinite;
}